body {
    font-size: 1.3vw;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: 0.014vw;
    color: #000000;
    font-family: 'Inter', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #ffffff;
    font-family: 'Le Major';
}
h1 {
  font-size: 8.8vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.95;
  letter-spacing: 0.06vw;
  color: #FAF4B7;
}
h2 {
  font-size: 7vw;
  font-weight: 100;
  font-stretch: normal;
  letter-spacing: -0.05vw;
  color: #000000;
  line-height: 0.989;
  margin-bottom: 3vw;
}
h3 {
  font-size: 5vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.98;
  letter-spacing: 0.014vw;
  color: #000000;
  margin-bottom: 2.5vw;
}
h4 {
  font-size: 4vw;
  font-weight: normal;
  line-height: 0.98;
  letter-spacing: 0.02vw;
  margin-bottom: 1.2vw;
}
h5 {
  font-size: 1.2vw;
  line-height: 1.3;
  letter-spacing: 0.069vw;
  font-family: 'Commuters Sans Semi';
  font-weight: 600;
  margin-bottom: 1.5vw;
}
h6{
  font-size: 1vw;
  line-height: 1.44;
  letter-spacing: 0.069vw;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
   margin-bottom: 1.5vw;
}
a:hover {
    -webkit-filter: unset;
    filter: unset;
}
input[type="submit"] {
    display: inline-block;
    font-stretch: normal;
    font-style: normal;
    border: 0;
    cursor: pointer;
    position: relative;
    background-color: #588791;
}
input[type="submit"]::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: #ffffff;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.site_button:hover:before,
input[type="submit"]::before {
    width: 100%;
}
p {
    margin-top: 0;
    margin-bottom: 1.389vw;
}
p:last-child {
    margin-bottom: 0;
}
mark {
    background-color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(120deg, #E4DBDC 0%, #E4DBDC 100%);
    background-repeat: no-repeat;
    background-size: 100% 24%;
    background-position: 0 88%;
    color: inherit;
}
section {
  position:relative;
}
.section_inner {
  width: 100vw;
  margin: 0px auto;
  position: relative;
  box-sizing: border-box;
}
.g_button {
    font-size: 0.8vw;
    letter-spacing: 0.11vw;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    padding: 0.88vw 3.7vw 0.7vw 1.5vw;
    border: solid 1px #000000;
    position: relative;
    font-family: 'Commuters Sans Semi';
    background-color: #d1f232;
    display: inline-block;
    transition: all .3s;
    font-weight: 600;
    box-shadow: none;
    line-height: 1;
}
.g_button span.g_button_icon{
    padding-left: 0.5vw;
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.0vw;
    right: 1.5vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.g_button span.g_button_icon svg{
    width: 0.9vw;
    position: relative;
    height: auto;
}
.g_button span.g_button_icon svg path{
  fill:#000;
}
.g_button:hover span svg{
    -webkit-animation: anime_button 0.4s infinite alternate;
    -moz-animation: anime_button 0.4s infinite alternate;
    animation: anime_button 0.4s infinite alternate;
}
.g_button:hover { background-color:black; color:#fff; border-color:#000; }
.g_button:hover span svg path{
  fill:#fff;
}
@-webkit-keyframes anime_button {
  0% { margin-left: 5px; margin-right:0px; }
  20% { margin-left:4px; margin-right:1px;}
  40% {margin-left: 3px; margin-right:2px;}
  60% {margin-left: 2px; margin-right:3px;}
  80% {margin-left: 1px; margin-right:4px;}
  100% {margin-left: 0px; margin-right:5px;}
}
@-moz-keyframes anime_button {
  0% { margin-left: 5px; margin-right:0px; }
  20% { margin-left:4px; margin-right:1px;}
  40% {margin-left: 3px; margin-right:2px;}
  60% {margin-left: 2px; margin-right:3px;}
  80% {margin-left: 1px; margin-right:4px;}
  100% {margin-left: 0px; margin-right:5px;}
}
@keyframes anime_button {
  0% { margin-left: 5px; margin-right:0px; }
  20% { margin-left:4px; margin-right:1px;}
  40% {margin-left: 3px; margin-right:2px;}
  60% {margin-left: 2px; margin-right:3px;}
  80% {margin-left: 1px; margin-right:4px;}
  100% {margin-left: 0px; margin-right:5px;}
}
@keyframes rotation2 {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (min-width: 769px){
    .mobile_only,
    br.m,
    br[m],
    .mo{
        display: none !important;
    }
}
@media (max-width: 768px) {
    br[d],
    br.d,
    .desktop_only,
    .do{
        display: none !important;
    }
    body {
      font-size: 4.9vw;
      line-height: 1.24;
      letter-spacing: 0vw;
    }
    h1 {
      font-size: 11.0vw;
      line-height: 0.94;
      letter-spacing: 0.021vw;
    }
    h2 {
      font-size: 11.3vw;
      letter-spacing: -0.1vw;
      line-height: 0.99;
      margin-bottom: 7vw;
    }

    h3 {
      font-size: 9.3vw;
      letter-spacing: 0.01vw;
      line-height: 1.01;
      margin-bottom: 6.5vw;
    }

    h4 {
      font-size: 9.2vw;
      letter-spacing: 0.288px;
      line-height: 1.02;
      margin-bottom: 6vw;
    }

    h5 {
      font-size: 4.2vw;
      letter-spacing: 0.2vw;
      line-height: 1.2;
      margin-bottom: 5vw;
    }
    h6 {
      font-size: 3.4vw;
      letter-spacing: 0.2vw;
      line-height: 1.2;
      margin-bottom: 5vw;
    }
    .site_button:hover:before,
    input[type="submit"]::before {
        width: 100%;
    }
    p {
        margin-bottom: 5.389vw;
    }
    .section_inner {
      width: 100vw;
    }
    .g_button {
        font-size: 2.9vw;
        letter-spacing: 0.5vw;
        padding: 4vw 13.4vw 3.4vw 5.119vw;
    }
    .g_button span.g_button_icon{right: 3vw;top: -0.05vw;width: 6.8vw;}
    .g_button span.g_button_icon svg{
        width: 100%;
        margin-bottom: 0vw;
        margin-left: 0vw;
        height: 3vw;
    }
    .header__content--desktop .header__block{
        padding-top: 0;
        margin-left: 0vw !important;
    }
}



html{
  background-color: #0D0D0D;
}
@keyframes rotation2 {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* Section 1
==================================*/
.s4o1{
    background-color: #F3ECE4;
    padding-top: 4.861vw;
    padding-bottom: 0.069vw;
    padding-left: 1px;
    padding-right: 1px;
    padding-left: 12.917vw;
    padding-right: 12.917vw;
    padding-bottom: 1.86vw;
    overflow: hidden;
}
.s4o1 .section_inner{
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}
.s4o1_top h1{
    color: #000;
    margin-bottom: 0vw;
    padding-bottom: 2.431vw;
    /* text-align: left; */
}
.s4o1_top h1 .space {
    padding-left: 30vw;
}
.s4o1_top article{
    padding-left: 10vw;
    padding-right: 10vw;
    /* font-weight: 400; */
}
.s4o1_lists{
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
.s4o1_col{
    border: 0;
    background-color: #1d1e21;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 0;
}
.s4o1_number{
    position: absolute;
    top: -2.253vw;
    left: 0vw;
    width: 59.4%;
    text-align: center;
}
.s4o1_number span {
    display: flex;
    width: 4.792vw;
    height: 4.792vw;
    background-color: #FFD4C4;
    color: #000;
    font-family: 'Le Major';
    margin: 0vw auto;
    border-radius: 100%;
    border: 2px solid #000;
    font-size: 3.75vw;
    line-height: 1;
    padding-top: 0.139vw;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.s4o1_number span span{
    font-size: inherit;
}
.s4o1_left{
    width: 57.6%;
    border: 2px solid #000;
}
.s4o1_left_in{
    padding-top: 7.944vw;
    padding-right: 4.417vw;
    padding-left: 5.4vw;
    padding-bottom: 6.76vw;
}
.s4o1_left_in h4{
    font-size: 5.139vw;
    padding-right: 0vw;
    color: #FAF4B7;
    letter-spacing: 0.069vw;
    margin-bottom: 0vw;
    padding-bottom: 2.2vw;
}
.s4o1_left_in article{
    color: #FFFFFF;
    padding-bottom: 0.1vw;
}
.s4o1_left_in article ul{ }
.s4o1_left_in article h5{
    margin-bottom: 0.5vw;
}
.s4o1_left_in article p{
    margin-bottom: 1.87vw;
    line-height: 1.4;
    letter-spacing: 0.014vw;
}
.s4o1_left_in .link{
    display: block;
    width: 100%;
    padding-top: 2.1vw;
    padding-right: 0.1vw;
}
.s4o1_left_in .link a.g_button span{
    /* padding-left: 2.4vw; */
}
.s4o1_right{
    width: 42.4%;
    border: 2px solid #F3F1E7;
    overflow: hidden;
    position: relative;
}
.styleleft .s4o1_right{
    border-left: 0;
}
.s4o1_right .image{
    width: 100%;
    display: block;
    height: calc(100% + 21vh);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #F3F1E7;
    border-left-width: 0;
    border: 0 !important;!i;!;
    position: absolute;
    top: 0vh;
}
.s4o1_right .image img{
    width: 30%;
    opacity: 0;
}
.s4o1_col.style2{
    background-color: #FFD4C4;
}
.s4o1_col.style2 .s4o1_number{
    left: unset;
    right: 0px;
    width: 56.6%;
}
.s4o1_col.style2 .s4o1_number span{/* background-color:#FF8F78; */}
.s4o1_col.style2 .s4o1_left{order: 2;border-right: 0vw solid #000;border-left: 2px solid #000;}
.s4o1_col.style2 .s4o1_left_in{padding-top: 7.183vw;padding-right: 4vw;padding-left: 6.1vw;padding-bottom: 7.26vw;}
.s4o1_col.style2 .s4o1_left_in h4{color: #0D0D0D;padding-left: 0vw;padding-bottom: 2.2vw;}
.s4o1_col.style2 .s4o1_left_in article{color: #0D0D0D;}
.s4o1_col.style2 .s4o1_left_in .link{/* padding-top: 4.34vw; */}
.s4o1.s4o1-2{
  margin: 0;
  padding: 0;
  border: 0;
  padding-left: 4.375vw;
  padding-right: 4.306vw;
  padding-top: 8vw;
}

@media (max-width: 768px) {
    .s4o1{padding-left: 5.617vw;padding-right: 4.617vw;padding-bottom: 0vw;}
    .s4o1 .section_inner{padding-top: 0;padding-bottom: 0;}
    .s4o1_top h1{padding-bottom: 8vw;}
    .s4o1_top article{
        padding-left: 0vw;
        padding-right: 0vw;
        letter-spacing: -0.02vw;
        width: 101%;
    }
    .s4o1_lists{padding-left: 5.3vw;padding-right: 5.2vw;padding-top: 21.5vw;padding-bottom: 0vw;}
    .s4o1_col{border: 0px solid #000;margin-bottom: 25.8vw;}
    .s4o1_col:last-child{
        margin-bottom:0vw;
    }
    .s4o1_number{width: 100% !important;top: -12.6vw !important;z-index: 2;}
    .s4o1_number span{width: 24.3vw;height: 24.6vw;border: 1px solid #000;font-size: 18.75vw;padding-top: 1.139vw;}
    .s4o1_left{order: 2 !important;border-right: 1px solid #000 !important;border-top: 1px solid #000;width: 100%;border-left: 1px solid #000 !important;border-bottom: 1px solid #000;}
    .s4o1_left_in{padding-top: 6vw !important;padding-right: 6vw !important;padding-left: 6vw !important;/* text-align: center; */padding-bottom: 7.3vw !important;}
    .s4o1_left_in h4{font-size: 11.139vw;letter-spacing: 0vw;padding-bottom: 5.4vw !important;line-height: 1;padding-left: 0.6vw !important;}
    .s4o1_left_in article p{margin-bottom: 5.7vw;line-height: 1.36;letter-spacing: 0.01vw;}
    .s4o1_left_in .link{padding-top: 1.76vw;padding-right: 1.2vw;}
    .s4o1_left_in .link a.g_button{
        padding: 4.2vw 19vw 4vw 6.119vw;
        font-size: 3.1vw;
        letter-spacing: 0.5vw;
        max-width: 69vw;
        width: 100%;
    }
    .s4o1_right{order: 1 !important;width: 100%;height: 81.1vw;border-width: 1px;border-bottom: 0;}
    .s4o1_right .image{display:none;height: calc(100% + 30vh);}
    .s4o1_right .image.mobile_only{display: block;border: 1px solid #000;border-bottom: 0;border: 0 !important;!i;!;}
    .s4o1_col.style2 .s4o1_left_in .link{padding-top: 7.94vw;}
    .styleleft .s4o1_right{
        border: 1px solid #000;
        border-bottom: 0;
    }
}



/* Section 6-1
==================================*/
.st6-1{
    background-color: #F1E8D7;
    padding-top: 11.2vw;
    padding-left: 3.2vw;
    padding-right: 3.2vw;
    padding-bottom: 5.33vw;
    border: 2px solid #000;
}
.st6-1_slider{
    padding-left: 8.6vw;
    padding-right: 8.6vw;
}
.st6-1_slider .slide-arrow{
    background-color: transparent;
    border: 0px !important;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 43%;
    cursor: pointer;
}
.st6-1_slider .prev-arrow{
    left: 0vw;
}
.st6-1_slider .next-arrow{
    right: 0vw;
}
.st6-1_col{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
}
.st6-1_left{
    width: 40%;
    padding-right: 5.01vw;
    padding-left: 0.1vw;
    position: relative;
}
.st6-1_qutest{
    font-family: 'Le Major';
    line-height: 0.8;
    position: absolute;
    height: auto;
    display: block;
    top: 0.4vw;
    left: 30vw;
    color: #C9BDAF;
    font-weight: normal;
    width: 5vw;
}
.st6-1_qutest svg{
  width:100%;
  height:auto;
}
.st6-1_left span{
    width: 100%;
    display: block;
    height: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #000;
}
.st6-1_left span img{
    width: 10%;
    opacity: 0;
}
.st6-1_right{
    width: 60%;
    padding-top: 3.76vw;
    padding-left: 6.4vw;
    padding-bottom: 3vw;
}
.st6-1_right h3{
    font-size: 3.2vw;
    letter-spacing: 0.05vw;
    line-height: 0.965;
    padding-bottom: 2.46vw;
}
.st6-1_right h5{
    margin: 0px;
    font-size: 1.13vw;
    font-weight: 300;
    margin-left: -0.4vw;
    letter-spacing: -0.05vw;
}
.st6-1_right article{
    letter-spacing: 0.014vw;
    padding-right: 3vw;
    padding-bottom: 3.34vw;
}



.st6-1_slider .slick-dots{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 3vw;
}
.st6-1_slider .slick-dots li{
    list-style: none;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

.st6-1_slider .slick-dots li button{
    background-color: #a1c4bb;
    font-size: 0px;
    width: 12px;
    height: 12px;
    display: block;
    border: 0px;
    border-radius: 100%;
    cursor: pointer;
}
.st6-1_slider .slick-dots li.slick-active{}
.st6-1_slider .slick-dots li:hover button,
.st6-1_slider .slick-dots li.slick-active button{background-color: #ab948c;}

@media (max-width: 768px) {
    .st6-1{padding-top: 10vw;padding-left: 0vw;padding-right: 0vw;padding-bottom: 10vw;border-width: 1px;}
    .st6-1_slider{padding-left: 0vw;padding-right: 0vw;}
    .st6-1_slider .slide-arrow{top: unset;width: 15vw;z-index: 9;bottom: 1vw;}
    .st6-1_slider .slide-arrow .svg_div svg{
        width: 100%;
        height: 100%;
    }
    .st6-1_slider .prev-arrow{left: 6.6vw;}
    .st6-1_slider .next-arrow{right: 7.2vw;}
    .st6-1_col{/* border-left: 1px solid #000; *//* border-right: 1px solid #000; */padding-bottom: 20vw;}
    .st6-1_left {
        width: 100%;
        padding-right: 8.7vw;
        padding-left: 8.7vw;
        padding-top: 0vw;
        padding-bottom: 5.4vw;
    }
    .st6-1:before{
        content:"";
        width: calc(100% + 2px);
        display: block;
        height: 56vw;
        background-color: #F9F7F7;
        position: absolute;
        top: 0vw;
        left: -1px;
        border-bottom: 1px solid #000;
        z-index: 0;
    }
    .st6-1_qutest{
        top: 107%;
        left: -16vw;
        width: 23vw;
    }
    .st6-1_left span{height: 60vw;border-width: 1px;position: relative;width: 70%;margin-left: 15%;}
    .st6-1_right{/* border-left: 1px solid #000; *//* border-right: 1px solid #000; */width: 100%;padding-top: 22.1vw;padding-left: 5.4vw;padding-right: 5.4vw;padding-bottom: 3vw;}
    .st6-1_right h3{font-size: 11vw;letter-spacing: 0.05vw;line-height: 1;padding-bottom: 5.6vw;}
    .st6-1_right h5{font-size: 4vw;/* font-weight: 300; */margin-left: 1vw;letter-spacing: -0.18vw;padding-bottom: 0.1vw;}
    .st6-1_right article{padding-left: 1vw;padding-right: 1vw;letter-spacing: 0vw;line-height: 1.25;padding-bottom: 10.3vw;}
    .no_img .st6-1_right{
      padding-top: 15.4vw;
    }
    .no_img .st6-1_left:before{
      display:none;
    }
    .no_img .st6-1_qutest{
      top: 0;
    }
  .no_img .st6-1_left span{
    height: auto;
  }

    .st6-1_slider .slick-dots{
    padding-bottom: 7vw;
}
}


/* Site Footer
*****************************************/
footer{
    background-color: #0D0D0D;
}
.st8{
    z-index: 1;
    background-color: #000;
}
.st8_1{
  padding-top: 8vw;
  padding-bottom: 3.5vw;
  border-top: 2px solid #F3ECE4;
}
.st8_2{
  padding-top: 3.5vw;
  padding-bottom: 2.5vw;
  border-top: 2px solid #F3ECE4;
  padding-left: 7vw;
  padding-right: 7vw;
}
.footer_inst .section_inner{
    width: 100%;
}
.st8 .lc_heading{
    text-align: center;
    letter-spacing: 0.025vw;
    color: #FAF4B7;
    font-size: 3.5vw;
    padding-left: 10vw;
    padding-right: 10vw;
}
.footer_inst h5{
    text-align: center;
}
.footer_inst h5 a{
    text-transform: uppercase;
    color: #FAF4B7;
    text-decoration:underline;
}

.footer_inst_in{
    width: 100%;
    padding-top: 0.694vw;
    padding-left: 0vw;
    padding-right: 0vw;
}
.footer_inst_in img{width: 100%;}
.footer_inst_in iframe {
    width: 100% !important;
    height: 10.5vw !important;
}
.footer_formsect .section_inner{
    width: 75.417vw;
}
.footer_formsect .section_inner h4{
  margin-bottom: 2vw;
}
.footer_formsect .section_inner h5{
    margin-bottom: 1.5vw;
}
.footer_formsect article{
    color: #F3ECE4;
    text-align: center;
    margin-bottom: 3vw;
}
.footer_form{
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.footer_formin{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.footer_formin .form-groups{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.footer_formin .form-group{
    width: 50%;
    padding-left: 1.667vw;
    padding-right: 1.667vw;
}
.footer_formin .form-group input {
    padding: 0px;
    background-color: transparent;
    border: 0px solid;
    border-bottom: 0.069vw solid #FFF;
    border-radius: 0px;
    font-family: 'Gatwick';
    font-size: 0.9vw;
    height: 3vw;
    padding-top: 0.764vw;
    padding-bottom: 0.625vw;
    width: 100%;
    color: #F3ECE4;
}
.footer_formin .form-group input::-webkit-input-placeholder { color: #F3ECE4; text-transform: uppercase; }
.footer_formin .form-group input::-moz-placeholder { color: #F3ECE4; text-transform: uppercase; }
.footer_formin .form-group input:-ms-input-placeholder { color: #F3ECE4; text-transform: uppercase; }
.footer_formin .form-group input:-moz-placeholder { color: #F3ECE4; text-transform: uppercase; }
.button_middle{
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    flex-grow: 0;
    min-width: 15.5vw;
}
.button_middle button {
    font-family: 'Gatwick';
    font-weight: bold;
    font-size: 0.8vw;
    text-transform: uppercase;
    padding: 0vw;
    text-align: left;
    letter-spacing: 0.08em;
    padding-top: 0.86vw;
    color: #0D0D0D;
    padding-bottom: 0.80vw;
    background-color: #D1F232;
    border: 1px solid #0D0D0D;
    margin-top: 0vw;
    /* height: 3.056vw; */
    padding-left: 1.25vw;
    padding-right: 1.111vw;
    width: 100%;
    font-family: 'Commuters Sans Semi';
    font-weight: 600;
    line-height: 1.3;
}
.button_middle button span.fs1{
    position: relative;
    display: block;
}
.button_middle button span.fs1 em{
    font-style:normal;
}
.button_middle button span.fs1 span{
    position: absolute;
    top: 0.3vw;
    right: 0.1vw;
    width: 0.8vw;
}
.button_middle button span.fs1 span svg{
    width: 100%;
    height: 100%;
    display: block;
    margin-top: -0.208vw;
}
.button_middle button span.fs1 span svg g{}
.button_middle button span.fs1 span svg g path{
    fill: #0D0D0D;
}
.button_middle button[type="submit"]:before{
    display:none !important;
}
.footer_bottom{
    background-color: #28282A;
    padding-top: 1.181vw;
    padding-bottom: 1.181vw;
}
.footer_bottom .section_inner{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.14vw;
    padding-left: 0vw;
    color: #F3ECE4;
    font-size: 0.98vw;
}
.footer_bottom .section_inner strong{
    font-weight:600;
}
.footer_bottom a{
    color: #B9EA4E;
    text-decoration: underline;
}
.st8_2 .section_inner{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.st8_2 .st8_left{
    width: 64%;
}
.st8_2 .st8_right{
    width: 36%;
    padding-left: 0vw;
}
.st8_2 .lc_textblock{
    margin-bottom: 3vw;
}
.st8_2 .lc_image{
    margin-right: -13vw;
    margin-top: -2vw;
    margin-bottom: 0vw;
}

.ig_feed_placeholder{
    display:flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}
.ig_feed_placeholder > div{
    width: 20%;
    padding: 10px;
}
.ig_feed_placeholder > div > a > span{
    display:block;
    height: 18.6vw;
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 768px) {
    .footer_inst .section_inner{width: 90vw;}
    .st8 h4{font-size: 10.9vw;letter-spacing: 0.2vw;line-height: 0.998;}
    .footer_inst h5{/* font-size: 3.3vw; *//* padding-top: 2.7vw; *//* letter-spacing: 0.2vw; */padding-left: 0;padding-right: 0;}
    .footer_inst_in{padding-left: 1vw;padding-right: 1vw;padding-top: 6.2vw;}
    .footer_inst_in img.mobile_only{
        display: block;
    }
    .footer_inst_in iframe {
        width: 100% !important;
        height: 21.5vw !important;
    }
    .footer_formsect .section_inner h4{
      margin-bottom: 6vw;
    }
    .footer_formsect .section_inner h5{
        margin-bottom: 4vw;
    }
    .footer_formsect .section_inner{width: 86vw;}
    .footer_formsect article{font-size: 3.88vw;letter-spacing: 0.27vw;line-height: 1.52;padding-left: 0vw;padding-right: 0vw;margin-bottom: 4vw;}
    .footer_form{padding-left: 0vw;padding-right: 0vw;padding-top: 4.1vw;}
    .footer_formin .form-group{width: 100%;text-align: center;margin-bottom: 13px;}
    .footer_formin .email-field.form-group{width: 100%;text-align: center;}
    .footer_formin .form-group input{font-size: 3.4vw;height: 10.8vw;letter-spacing: 0.3vw;padding-top: 0vw;padding-bottom: 4.4vw;text-align: center;}

    .button_middle{padding-top: 1.5vw;padding-left: 4.5vw;padding-right: 4.5vw;width: 100%;}
    .button_middle button{font-size: 3.1vw;letter-spacing: 0.32vw;padding: 3.9vw 13.4vw 4vw 5.119vw;font-family: 'Commuters Sans Semi';height: auto;text-align: center;margin: 0;}
    .button_middle button span.fs1{letter-spacing: 0.4vw;}
    .button_middle button span.fs1 span{right: -5.4vw;width: 3.8vw;height: 3.8vw;/* top: 1.3vw; */position: absolute;}
    .footer_bottom{padding-top: 3vw;padding-bottom: 3vw;}
    .footer_bottom .section_inner{font-size: 3vw;letter-spacing: 0.5vw;}
    .footer_bottom span{
        font-size: 00px;
        display: block;
        width: 100%;
        height: 1.8vw;
    }
    .st8_1{
      padding-top: 10vw;
      padding-bottom: 11vw;
      border-top-width: 1px;
    }
    .st8_2{
      padding-top: 10vw;
      padding-bottom: 10vw;
      border-top-width: 1px;
    }
    .st8 .lc_heading{
        padding-left: 0;
        padding-right: 0;
    }
    .st8_2 .st8_left{
        width: 100%;
        order: 1;
    }
    .st8_2 .st8_right{
        width: 100%;
        padding-left: 0vw;
        order: 0;
    }
    .st8_2 .lc_textblock{
        margin-bottom: 3vw;
    }
    .st8_2 .lc_image{
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 7vw;
    }
    .st8_2 .section_inner{
        width: 100%;
    }
    
    .ig_feed_placeholder > div{
        width:50%;
    }
    .ig_feed_placeholder > div:last-child{
        display:none;
    }
    .ig_feed_placeholder > div > a > span{
        height: 41.6vw;
    }
}



.topSpacing_low{
    padding-top:50px !important;
}
.bottomSpacing_low{
    padding-bottom:50px !important;
}
.topSpacing_remove{
     padding-top:0px !important;
}
.bottomSpacing_remove{
     padding-bottom:0px !important;
}


.topMargin_low{
    margin-top:50px !important;
}
.bottomMargin_low{
    margin-bottom:50px !important;
}
.topMargin_remove{
     margin-top:0px !important;
}
.bottomMargin_remove{
     margin-bottom:0px !important;
}

body.safari .g_button {
    padding: 1.36vw 3.7vw 1.1vw 2.2vw;
}
body.safari .g_button span{
    top:0.04vw;
    
}
@media (max-width: 768px) {
    body.safari .g_button {
        padding: 3.9vw 12.4vw 4vw 5.119vw;
    }
    body.safari .g_button span{
        top:-0.05vw;
        
    }
    
    body.safari .s4o1_left_in .link a.g_button {
        padding: 4.2vw 19vw 4vw 6.119vw;
    }
    body.safari .button_middle button span.fs1 span{
        top:0.86vw;
    }
    
    .footer_bottom .section_inner strong {
        font-size: 2.8vw;
    }
}